@charset "utf-8";
/* CSS Document */
p {
	color: purple;
font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: lavender;
	padding: 20px;
}
ol, ul{
	color:rebeccapurple;
	font-size: 15;
}
.paragraf_2{color:purple; background-color: rgba(255, 255, 255, 0.5)}
.novi_blok {
	color:plum; background-color: rgba(255, 255, 255, 0.5);
	padding: 20px;
	margin: 20px;
	width: 50%;
}
h2 {
   font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:darkviolet;
	font-size: 30;
}
h1 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: indigo;
	font-size: 60;
}
span {color: rgba(210,99,234,0.91);}
body{ 
    background-image: url("Slike/pozadina.jpg");
}

a{
	color:rebeccapurple;
	background-color:aliceblue;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000
}
a:hover{
	background-color: darkgray;
}
img{
	height:300px;
	
}